@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');


:root {
  font-size: 16px;
  --heading-font: 'Bellefair', serif;
  --regular-font: 'Barlow Condensed', sans-serif;
  background-color: #0B0D17;
}

body {
  overflow-x: hidden;
}

p {
  color: #0B0D17;
}

.heading-1 {
  font-size: 9.375rem;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 6.25rem;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 3.5rem;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 2rem;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-transform: uppercase;
}

.heading-4-dark {
  font-size: 2rem;
  font-family: var(--heading-font);
  color: #0B0D17 ;
  text-transform: uppercase;
}

.heading-5 {
  font-size: 1.25rem;
  font-family: var(--regular-font);
  color: #D0D6F9;
  letter-spacing: 4.72px; 
  text-transform: uppercase;
}

.subheading-1 {
  font-size: 1.75rem;
  font-family: var(--heading-font);
  color: #FFFFFF;
  text-transform: uppercase;
}

.subheading-2 {
  font-size: 0.875rem;
  font-family: var(--regular-font);
  letter-spacing: 2.36px;
  color: #D0D6F9;
  text-transform: uppercase;
}

.nav-text {
  font-size: 1rem;
  font-family: var(--regular-font);
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.nav-number {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
}

.body-text {
  font-size: 1.125rem;
  line-height: 178%;
  color: #D0D6F9;
}

main, section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 0rem 7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 5rem;
}

.main-btn button {
  transition: .4s;
}

.main-btn button:is(:hover, :active) {
  box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, .25);
}

.home {
  background-image: url('./assets/home/background-home-desktop.jpg');
}

.crew {
  background-image: url('./assets/crew/background-crew-desktop.jpg');
}

.destination {
  background-image: url('./assets/destination/background-destination-desktop.jpg');
}

.technology {
  background-image: url('./assets/technology/background-technology-desktop.jpg');
}

.dest-btns button {
  position: relative;
  font-size: 1rem;
  font-family: var(--regular-font);
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-transform: uppercase;
}

.dest-btns button.active-btn {
  color: #FFFFFF;
}

.dest-btns button.active-btn::after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #FFFFFF;
}


/* only lg screens */
@media (min-width: 1024px) {
  section {
    padding-top: 7rem;
    padding-bottom: 0;
  }

  nav::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 58vw;
    height: 1px;
    width: 33vw;
    background-color: #fff;
    opacity: .3;
  }

  .dest-btns button:hover::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #FFFFFF;
    opacity: .5;
  }
}

/* mid to lg screens */

@media (min-width: 768px) {
  nav ul li {
    position: relative;
  }
  
  nav ul li:hover::after {
    content: '';
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: .5;
  }

  .active-nav::after {
    content: '';
    position: absolute;
    top: 3.8rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

}

/* xs to md */

@media (max-width: 1024px) {

  main, section {
    padding: 0rem 4.75rem;
  }

  .home {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
  
  .crew {
    background-image: url('./assets/crew/background-crew-tablet.jpg');
  }
  
  .destination {
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }
  
  .technology {
    background-image: url('./assets/technology/background-technology-tablet.jpg');
  }
}

/* only small screens */

@media (max-width: 768px) {
  
  main, section {
    padding: 0rem 2rem;
    padding-bottom: 2rem;
  }

  section {
    padding-top: 6rem;
  }

  .home {
    background-image: url('./assets/home/background-home-mobile.jpg');
  }
  
  .crew {
    background-image: url('./assets/crew/background-crew-mobile.jpg');
  }
  
  .destination {
    background-image: url('./assets/destination/background-destination-mobile.jpg');
  }
  
  .technology {
    background-image: url('./assets/technology/background-technology-mobile.jpg');
  }

  nav ul li {
    position: relative;
  }

  .active-nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: 120%;
    width: .2rem;
    height: 100%;
    background-color: #fff;
    opacity: .5;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
